/* timeline.css */

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.timeline-total-time {
  font-size: 20px;
  color: var(--accent-color);
  margin-bottom: 10px;
}

.card-timeline-card {
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
  padding: 16px;
  margin-bottom: 13px;
  position: relative;
}

.timeline-subTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.timeline-tag {
  font-size: 16px;
  color: var(--accent-color);
  margin-right: 19px;
}

.timeline-duration {
  font-size: 14px;
  color: var(--accent-color);
  margin-bottom: 5px;
}

.timeline-started-at {
  font-size: 12px;
  color: var(--accent-color);

  position: absolute;
  right: 0;
  margin-inline-end: 30px;
}
